*{
    background-color: bisque;
}
h1{
    font-size: 10em;
}
 .p1{
    background-color: rgb(224, 189, 147);
 }
  .p2{
    background-color: blanchedalmond;
  }
  .p3{
    background-color: aqua;
  }
.shadow{
  width: 25cm;
}