*{
    background-color: azure;
}
h1{
    font-size: 10em;
}
 .p1{
    background-color: bisque;
 }
  .p2{
    background-color: blanchedalmond;
  }
  .p3{
    background-color: aqua;
  }